@model NotifyHealth.Models.Notifications

@{
    Layout = null;
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Delete Clients</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>



        </div>

        <div class="modal-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.NTypeId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NTypeId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Period)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Period)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.StatusId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.StatusId)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Text)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Text)
                </dd>

            </dl>
            @using (Html.BeginForm("DeleteNotifications", "Home", null))
            {
                @*@using (Ajax.BeginForm("DeleteSpeedDial", "Services", null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "DeleteAssetSuccess" }, new { @class = "form-horizontal", role = "form" }))
                    {*@


                @*@Html.ActionLink("Back to List", "SpeedDial", null, new { data_dismiss = "modal" })*@

                <div class="modal-footer">
                    @Html.HiddenFor(x => x.NTypeId)
                    @Html.HiddenFor(x => x.Period)
                    @Html.HiddenFor(x => x.Text)
                    @Html.HiddenFor(x => x.StatusId)

                    <button type="button" data-dismiss="modal" data-url="@Url.Action("Back to List","Home",null)" class="btn btn-secondary">Back to List</button>
                    <input type="submit" class="btn btn-primary" name="Delete" value="Delete">
                </div>
            }
        </div>
    </div>
</div>


