<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="Stephen Thompson" name="author" />

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="http://fonts.googleapis.com/css?family=Nunito:400,300,700" rel="stylesheet" id="fontFamilySrc" />
    <link href="~/Content/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/bootstrap/bootstrap-4.1.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/font-awesome/5.1/css/all.css" rel="stylesheet" />
    <link href="~/Content/css/animate.min.css" rel="stylesheet" />
    <link href="~/Content/css/style.min.css" rel="stylesheet" />
    <!-- ================== END BASE CSS STYLE ================== -->
    <!-- ================== BEGIN PAGE LEVEL CSS STYLE ================== -->
    <link href="~/Content/plugins/fullcalendar/fullcalendar.print.css" rel="stylesheet" media='print' />
    <link href="~/Content/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/jquery-jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" />
    <link href="~/Content/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" />
    <!-- ================== END PAGE LEVEL CSS STYLE ================== -->
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="~/Content/plugins/pace/pace.min.js"></script>
    <link href="~/Content/plugins/morris/morris.css" rel="stylesheet" />
    <link href="~/Content/plugins/DataTables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/DataTables/extensions/Buttons/css/buttons.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <!-- ================== END BASE JS ================== -->
    <!--[if lt IE 9]>
        <script src="~/Content/crossbrowserjs/excanvas.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- begin #page-loader -->
    <div id="page-loader" class="page-loader fade in"><span class="spinner">Loading...</span></div>
    <!-- end #page-loader -->
    <!-- begin #page-container -->
    <div id="page-container" class="fade page-container page-header-fixed page-sidebar-fixed page-with-two-sidebar page-with-footer">

        <!-- end #header -->
        <!-- begin #sidebar -->
        <div id="sidebar" class="sidebar">
            <!-- begin sidebar scrollbar -->
            <div data-scrollbar="true" data-height="100%">
                <!-- begin sidebar nav -->
                <ul class="nav">
                    <li class="nav-header">
                        <div class="info">
                            <div class="name dropdown">

                                @if (@Session["organization"] != null)
                                {
                                    <h1 class="page-header" style="color:white;font-weight: 400;margin: 10px 0px 10px 0px">@Session["organization"].ToString()</h1>
                                }
                            </div>
                        </div>
                    </li>

                    @if (ViewContext.RouteData.Values["Action"].ToString() == "Index")
                    {
                        <li class="has-sub active">
                            <a href="@Url.Action("Index", "Home")">
                                <i class="fa fa-home"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>

                    }
                    else
                    {
                        <li class="has-sub">
                            <a href="@Url.Action("Index", "Home")">
                                <i class="fa fa-home"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>

                    }
                    @if (ViewContext.RouteData.Values["Action"].ToString() == "Clients")
                    {
                        <li class="has-sub active">
                            <a href="@Url.Action("Clients", "Home")">
                                <i class="fa fa-users"></i>
                                <span>Clients</span>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="has-sub">
                            <a href="@Url.Action("Clients", "Home")">
                                <i class="fa fa-users"></i>
                                <span>Clients</span>
                            </a>
                        </li>
                    }
                    @if (ViewContext.RouteData.Values["Action"].ToString() == "Programs")
                    {
                        <li class="has-sub active">
                            <a href="@Url.Action("Programs", "Home")">
                                <i class="fa fa-university"></i>
                                <span>Tracks</span>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="has-sub">
                            <a href="@Url.Action("Programs", "Home")">
                                <i class="fa fa-university"></i>
                                <span>Tracks</span>
                            </a>
                        </li>

                    }
                    @if (ViewContext.RouteData.Values["Action"].ToString() == "Campaigns")
                    {
                        <li class="has-sub active">
                            <a href="@Url.Action("Campaigns", "Home")">
                                <i class="fa fa-sitemap"></i>
                                <span>Campaigns</span>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="has-sub">
                            <a href="@Url.Action("Campaigns", "Home")">
                                <i class="fa fa-sitemap"></i>
                                <span>Campaigns</span>
                            </a>
                        </li>

                    }
                    @*@if (ViewContext.RouteData.Values["Action"].ToString() == "Notifications")
                        {
                            <li class="has-sub active">
                                <a href="@Url.Action("Notifications", "Home")">

                                    <i class="fa fa-comments"></i>
                                    <span>Notifications</span>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="has-sub">
                                <a href="@Url.Action("Notifications", "Home")">

                                    <i class="fa fa-comments"></i>
                                    <span>Notifications</span>
                                </a>
                            </li>

                        }*@
                    @if (ViewContext.RouteData.Values["Action"].ToString() == "Support")
                    {
                        <li class="has-sub active">
                            <a href="@Url.Action("Support", "Home")">

                                <i class="fa fa-question-circle"></i>
                                <span>Support</span>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="has-sub">
                            <a href="@Url.Action("Support", "Home")">

                                <i class="fa fa-question-circle"></i>
                                <span>Support</span>
                            </a>
                        </li>

                    }


                    <li class="divider has-minify-btn">
                        <!-- begin sidebar minify button -->
                        <a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-left"></i></a>
                        <!-- end sidebar minify button -->
                    </li>
                </ul>
                <!-- end sidebar nav -->
            </div>
            <!-- end sidebar scrollbar -->
        </div>
        <div class="sidebar-bg"></div>
        <!-- end #sidebar -->
        <!-- begin #content -->
        <div id="content" class="content">
            @Html.Partial("_LoginPartial")
            @RenderBody()

            <!-- begin #footer -->
            <div id="footer" class="footer">
                <span class="pull-right">
                    <a href="javascript:;" class="btn-scroll-to-top" data-click="scroll-top">
                        <i class="fa fa-arrow-up"></i> <span class="hidden-xs">Back to Top</span>
                    </a>
                </span>
                &copy;
                @if (@Session["Portal"] != null)
                {
                    @DateTime.Now.Year.ToString() <b>@Session["Portal"].ToString()</b>
                } All Right Reserved

            </div>
            <!-- end #footer -->
        </div>
        <!-- end #content -->
    </div>
    <!-- end page container -->
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="~/Content/plugins/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/Content/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Content/plugins/bootstrap/bootstrap-4.1.1/js/bootstrap.bundle.min.js"></script>
    <!--[if lt IE 9]>
        <script src="~/Content/crossbrowserjs/html5shiv.js"></script>
        <script src="~/Content/crossbrowserjs/respond.min.js"></script>
    <![endif]-->
    <script src="~/Content/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/Content/plugins/jquery-cookie/jquery.cookie.js"></script>
    <!-- ================== END BASE JS ================== -->
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="~/Content/plugins/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/Content/plugins/jquery-jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/Content/plugins/jquery-jvectormap/jquery-jvectormap-world-merc-en.js"></script>
    <script src="~/Content/plugins/gritter/js/jquery.gritter.js"></script>
    <script src="~/Content/plugins/morris/raphael.min.js"></script>
    <script src="~/Content/plugins/morris/morris.js"></script>
    <script src="~/Content/js/page-chart-morris.demo.js"></script>
    @*<script src="~/Content/js/page-index.demo.js"></script>*@
    @*<script src="~/Content/js/demo.min.js"></script>*@
    <script src="~/Content/js/apps.js"></script>
    <script src="~/Content/plugins/DataTables/media/js/jquery.dataTables.js"></script>
    <script src="~/Content/plugins/DataTables/media/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/plugins/DataTables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/plugins/DataTables/extensions/Buttons/js/buttons.bootstrap.min.js"></script>
    <script src="~/Content/plugins/DataTables/extensions/Buttons/js/buttons.print.min.js"></script>
    <script src="~/Content/plugins/DataTables/extensions/Buttons/js/buttons.flash.min.js"></script>
    <script src="~/Content/plugins/DataTables/extensions/Buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/plugins/bootstrap-daterangepicker/moment.js"></script>
    <script src="~/Content/plugins/bootstrap-eonasdan-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>


    <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <!-- ================== END PAGE LEVEL JS ================== -->

    <script>
        $(document).ready(function () {
            App.init();

            //handleDashboardGritterNotification();
            //var handleDashboardGritterNotification = function () {
            //    setTimeout(function () {
            //        $.gritter.add({
            //            title: 'Welcome back, Admin!',
            //            text: 'You have 4 new notifications. Please check your inbox.',
            //            image: '.."~/Content/img/user_1.jpg',
            //            sticky: true,
            //            time: '',
            //            class_name: 'my-sticky-class'
            //        });
            //    }, 1000);
            //};
            //    handleNotificationClicked();
            //    /* 02. Handle Header - Notification Read Status
            //------------------------------------------------ */
            //    var handleNotificationClicked = function () {
            //        "use strict";

            //        $('[data-click="toggle-notify"]').on('click', function () {
            //            $(this).addClass('read');
            //        });
            //    };

        });</script>
</body>
</html>