@model NotifyHealth.Models.Notifications

@{

    Layout = null;
}
<div class="form-horizontal">
    @*@Html.AntiForgeryToken()*@
    @if (ViewBag.Message != null)
    {
        <span class="text-success">@ViewBag.Message</span>
    }

    <span class="alert-danger">
        @Html.ValidationSummary("", htmlAttributes: new { @class = "col-sm-12 form-control-label" })
    </span>

    <div class="form-group row">
        @Html.LabelFor(model => model.NotificationType, htmlAttributes: new { @class = "col-sm-12 form-control-label" })
        <div class="col-sm-12">
            @Html.DropDownListFor(model => model.NTypeId, Model.NotificationTypes, new { @class = "col-sm-12 form-control" })
            @Html.ValidationMessageFor(model => model.NTypeId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.Period, htmlAttributes: new { @class = "col-sm-12 form-control-label" })
        <div class="col-md-12">
            @Html.TextBoxFor(model => model.Period, new { @class = "col-sm-12 form-control" })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "col-sm-12 form-control-label" })
        <div class="col-md-12">
            @Html.TextBoxFor(model => model.Text, new { @class = "col-sm-12 form-control" })
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "col-sm-12 form-control-label" })
        <div class="col-sm-12">
            @Html.DropDownListFor(model => model.StatusId, Model.Statuses, new { @class = "col-sm-12 form-control" })
            @Html.ValidationMessageFor(model => model.StatusId, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group row">
        @Html.LabelFor(model => model.Program, htmlAttributes: new { @class = "col-sm-12 form-control-label" })
        <div class="col-sm-12">
            @Html.DropDownListFor(model => model.ProgramID, Model.Programs, "---Select A Program ---", new { @id = "Program-DropDownID", @class = "col-sm-12 form-control" })
            @Html.ValidationMessageFor(model => model.ProgramID, "", new { @class = "text-danger" })
        </div>
    </div>*@

    @*<div class="form-group row">
        @Html.LabelFor(model => model.Campaign, htmlAttributes: new { @class = "col-sm-12 form-control-label" })
        <div class="col-sm-12">
            <select class="col-sm-12 form-control" id="CampaignId" name="CampaignId">
                <option value="" selected disabled hidden>Select a Program 1st</option>
            </select>
            @Html.ValidationMessageFor(model => model.CampaignId, "", new { @class = "text-danger" })
        </div>
    </div>*@
</div>

<script>
        $(document).ready(function () {

          $('#Program-DropDownID').change(function () {
              $("#CampaignId").empty();
                var ProgramID = $('#Program-DropDownID').find('option:selected').val();

                 $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetCampaignDDL", "Home")?programID=' + ProgramID,
                    dataType: "json",
                    success: function (data) {
                        $.each(data, function (index, value) {
                            $("#CampaignId").append("<option value=" + value.Value + ">" + value.Text + "</option>");
                        });

                    }
                 });
            });

        });
</script>