@model NotifyHealth.Models.Clients
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>Notify Health | Client Details</title>
    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="http://fonts.googleapis.com/css?family=Nunito:400,300,700" rel="stylesheet" id="fontFamilySrc" />

    <link href="~/Content/plugins/font-awesome/5.1/css/all.css" rel="stylesheet" />
    <link href="~/Content/css/animate.min.css" rel="stylesheet" />
    <link href="~/Content/css/style.min.css" rel="stylesheet" />
    <!-- ================== END BASE CSS STYLE ================== -->
    <!-- ================== BEGIN PAGE LEVEL CSS STYLE ================== -->
    <link href="~/Content/plugins/DataTables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <!-- ================== END PAGE LEVEL CSS STYLE ================== -->
</head>
<h1 class="page-header">Client Details</h1>
<div class="section-container section-with-top-border">
</div>
<button type="button" class="btn btn-success btn-md" onclick="location.href='@Url.Action("Clients", "Home")'" id="btnClients">
    <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Return
</button>

<p class="m-b-20">
</p>
<div class="row">
    <div class="col-lg-5">

        <dl class="m-b-20">
            <div class="well well-sm">
                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
            </div>

            <div class="well well-sm">
                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>
            </div>
            <div class="well well-sm">
                <dt>
                    @Html.DisplayNameFor(model => model.ClientStatus)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ClientStatus)
                </dd>
            </div>

            <div class="well well-sm">
                <dt>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>
            </div>
            <div class="well well-sm">
                <dt>
                    @Html.DisplayNameFor(model => model.MessageAddress)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MessageAddress)
                </dd>
        </dl>
    </div>

    <div class="col-lg-5">

        <dl class="m-b-20">
            <div class="well well-sm">
                <dt>
                    @Html.DisplayNameFor(model => model.PhoneCarrier)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PhoneCarrier)
                </dd>
            </div>
            <div class="well well-sm">
                <dt>
                    @Html.DisplayNameFor(model => model.PhoneStatus)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PhoneStatus)
                </dd>
            </div>
            <div class="well well-sm">
                <dt>
                    @Html.DisplayNameFor(model => model.ParticipationReason)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ParticipationReason)
                </dd>
            </div>
            <div class="well well-sm">
                <dt>
                    @Html.DisplayNameFor(model => model.AccountType)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AccountType)
                </dd>
            </div>
        </dl>
    </div>
</div>

<p class="m-b-20">
    <h1 class="page-header">Campaign Memberships</h1>
</p>
<div class="row">
    <div class="col-lg-12">

        <div class="panel pagination-inverse m-b-0 clearfix">

            <table id="assets-data-table" class="table table-bordered table-hover" cellspacing="0" style="width:100%;"></table>
        </div>
    </div>
</div>

<p class="m-b-20">
    <h1 class="page-header">Delivered Messages</h1>
</p>
<div class="row">
    <div class="col-lg-12">
        <div class="panel pagination-inverse m-b-0 clearfix">

            <table id="transactions-data-table" class="table table-bordered table-hover" cellspacing="0" style="width:100%;"></table>
        </div>
    </div>
</div>

<!-- ================== BEGIN BASE JS ================== -->
<script src="~/Content/plugins/jquery/jquery-3.3.1.min.js"></script>
<script src="~/Content/plugins/jquery-ui/jquery-ui.min.js"></script>

<!--[if lt IE 9]>
    <script src="~/Content/crossbrowserjs/html5shiv.js"></script>
    <script src="~/Content/crossbrowserjs/respond.min.js"></script>
<![endif]-->
<!-- ================== END BASE JS ================== -->
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="~/Content/plugins/DataTables/media/js/jquery.dataTables.js"></script>
<script src="~/Content/plugins/DataTables/media/js/dataTables.bootstrap.min.js"></script>
<script src="~/Content/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js"></script>

<!-- ================== END PAGE LEVEL JS ================== -->

<script type="text/javascript">

    var assetListVM;
    var transactionsListVM;
    $(function () {
        assetListVM = {
            dt: null,

            init: function () {
                dt = $('#assets-data-table').DataTable(
                    {
                        "lengthMenu": [[10, 20, -1], [10, 20, "All"]],
                        responsive: true,
                        buttons: false,
                        scrollX: true,
                        scrollCollapse: true,

                        fixedColumns: {
                            leftColumns: 2
                        },

                        "serverSide": true,
                        "ajax": {
                            "type": "POST",
                            "url": '/Home/GetClientMemberships',
                            "contentType": 'application/json; charset=utf-8',
                            'data': function (data) {
                                data = JSON.stringify(data);
                                return data;
                            }
                        },
                        "fnServerParams": function (aoData) {

                            aoData['organizationID'] = @ViewBag.organizationID;
                            aoData['clientID'] = @ViewBag.clientID;

                        },
                        "paging": true,
                        "processing": true,
                        "deferRender": true,
                        "columns": [
                            {

                                "title": "Program", "data": "Program", "searchable": true,
                            },
                            {
                                "title": "Campaign", "data": "Campaign", "searchable": true,
                            },
                            { "data": "SortTime", "width": "20%", "searchable": false, "visible": false },
                            {
                                "title": "Start",
                                "data": "SortTime",
                                "render": function (data, type, row) {
                                    return row.Start;
                                }
                            },
                        ],
                        "order": [0, "Asc"],
                    });
            },

            refresh: function () {
                dt.ajax.reload();
            }

        }
        // initialize the datatables
        assetListVM.init();
    });
    $(function () {
        transactionsListVM = {
            dt: null,

            init: function () {
                dt = $('#transactions-data-table').DataTable(
                    {
                        "lengthMenu": [[10, 20, -1], [10, 20, "All"]],
                        responsive: true,
                        dom: "Bfrtip", buttons: ["copy", "csv", "excel", "pdf", "print"],
                        scrollX: true,
                        scrollCollapse: true,
                        fixedColumns: {
                            leftColumns: 2
                        },

                        "serverSide": true,
                        "ajax": {
                            "type": "POST",
                            "url": '/Home/GetTransactions',
                            "contentType": 'application/json; charset=utf-8',
                            'data': function (data) {
                                data = JSON.stringify(data);
                                return data;
                            }
                        },
                        "fnServerParams": function (aoData) {

                            aoData['organizationID'] = @ViewBag.organizationID;
                            aoData['clientID'] = @ViewBag.clientID;

                        },
                        "paging": true,
                        "processing": true,
                        "deferRender": true,
                        "columns": [
                            {

                                "title": "Notification", "data": "Notification", "searchable": true,
                            },
                            {
                                "title": "Status", "data": "Result", "searchable": true,
                            },
                            { "data": "SortTime", "width": "20%", "searchable": false, "visible": false },
                            {
                                "title": "When",
                                "data": "SortTime",
                                "render": function (data, type, row) {
                                    return row.Timestamp;
                                }
                            },
                        ],
                        "order": [2, "Asc"],
                    });
            },

            refresh: function () {
                dt.ajax.reload();
            }

        }
        // initialize the datatables
        transactionsListVM.init();
    });
</script>