@model NotifyHealth.Models.Clients
<script src="~/Scripts/jquery-1.10.2.js"></script>
<h1 class="page-header">Edit Client Details</h1>
<div class="section-container section-with-top-border">
    <p class="m-b-20">
    </p>
</div>
@using (Ajax.BeginForm("EditClients", "Home", Model, new AjaxOptions { HttpMethod = "Post", OnSuccess = "UpdateAssetSuccess" }, new { @class = "form-horizontal", role = "form" }))
{
    <div class="row">

        <div class="col-sm-4">
            <label class="col-sm-6 form-control-label">Client Memberships Active</label>
            <div class="form-group">

                <div class="col-sm-8">
                    @Html.DropDownList("CampaignId", (IEnumerable<SelectListItem>)ViewBag.ClientMembershipsSelected, new { @id = "isselect_code", @class = "col-sm-12 form-control", @multiple = "@multiple" })
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <label class="col-sm-8 form-control-label">Campaigns</label>
            <div class="form-group">

                <div class="col-sm-8">
                    @Html.DropDownList("CampaignId", (IEnumerable<SelectListItem>)ViewBag.Unselected, new { @id = "canselect_code", @class = "col-sm-12 form-control", @multiple = "@multiple" })
                </div>
            </div>
        </div>

    </div> 
    <div class="col-sm-4">

        <input type='button' id='btnRight_code' value='  <  ' /> <input type='button' id='btnSubmit' value='Submit' /> <input type='button' id='btnLeft_code' value='  >  ' />
        @Html.HiddenFor(x => x.CampaignId)
        <span id="values"></span>
    </div>
}

<script>
    $(document).ready(function () {
        $('[id^=\"btnRight\"]').click(function (e) {

            $("#canselect_code > option:selected").each(function () {
                $(this).remove().appendTo("#isselect_code");
            });

        });

        $('[id^=\"btnLeft\"]').click(function (e) {

            $("#isselect_code > option:selected").each(function () {
                $(this).remove().appendTo("#canselect_code");
            });

        });

        $('[id^=\"btnSubmit\"]').click(function (e) {

            var id = '@Model.ClientId';

            var ValuesAdded = $.map($('#isselect_code option'), function (e) { return e.value; });
            var ValuesDeleted = $.map($('#canselect_code option'), function (e) { return e.value; });
            // as a comma separated string
            $('#values').text(ValuesAdded.join(','));

            'use strict';
            var to = $('#values').text();

            let emailList = to.split(',').map(values => {
                return {
                    CampaignId: values.trim(),
                }
            });

            var mergedAdded = [].concat.apply([], ValuesAdded);
            var mergedDeleted = [].concat.apply([], ValuesDeleted);

            $.ajax({
                url: "/Home/ValuesAdded",
                type: "POST",
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                traditional: true,
                data: JSON.stringify(
                    [
                        id, mergedAdded
                    ]),

                success: function (data) {

                }
            });
            $.ajax({
                url: "/Home/ValuesDeleted",
                type: "POST",
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                traditional: true,
                data: JSON.stringify(
                    [
                        id, mergedDeleted
                    ]),

                success: function (data) {
                }
            });

            window.location.href = '@Url.Action("Clients", "Home")';
        });

    });
</script>
