@model NotifyHealth.Models.ViewModels.DashboardViewModel
<head>

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="http://fonts.googleapis.com/css?family=Nunito:400,300,700" rel="stylesheet" id="fontFamilySrc" />

    <link href="~/Content/plugins/font-awesome/5.1/css/all.css" rel="stylesheet" />
    <link href="~/Content/css/animate.min.css" rel="stylesheet" />
    <link href="~/Content/css/style.min.css" rel="stylesheet" />
    <!-- ================== END BASE CSS STYLE ================== -->
    <!-- ================== BEGIN PAGE LEVEL CSS STYLE ================== -->
    <link href="~/Content/plugins/DataTables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <!-- ================== END PAGE LEVEL CSS STYLE ================== -->
    <title>Broadcast | Dashboard</title>
</head>
<h1 class="page-header">Dashboard <small>Welcome back, @Session["UserFullName"].ToString()</small></h1>
<div class="section-container section-with-top-border">
</div>

<!-- end page-header -->
<!-- begin row -->
<div class="row">
    <!-- begin col-3 -->
    <div class="col-lg-3 col-sm-6">
        <!-- begin widget -->
        <div class="widget widget-stat bg-primary text-white">
            <div class="widget-stat-icon"><i class="fa fa-user-plus"></i></div>
            <div class="widget-stat-info">
                <div class="widget-stat-title">New Clients</div>
                <div class="widget-stat-number">@Html.DisplayFor(model => model.NewClientsLast30)</div>
                <div class="widget-stat-text">(Last 30 Days)</div>
            </div>
        </div>
        <!-- end widget -->
    </div>
    <!-- end col-3 -->
    <!-- begin col-3 -->
    <div class="col-lg-3 col-sm-6">
        <!-- begin widget -->
        <div class="widget widget-stat bg-success text-white">
            <div class="widget-stat-icon"><i class="fa fa-users"></i></div>
            <div class="widget-stat-info">
                <div class="widget-stat-title">Clients</div>
                <div class="widget-stat-number">@Html.DisplayFor(model => model.NoOfClients)</div>
                <div class="widget-stat-text">(Since 1/1/2019)</div>
            </div>
        </div>
        <!-- end widget -->
    </div>
    <!-- end col-3 -->
    <!-- begin col-3 -->
    <div class="col-lg-3 col-sm-6">
        <!-- begin widget -->
        <div class="widget widget-stat bg-inverse text-white">
            <div class="widget-stat-icon"><i class="fa fa-comment"></i></div>
            <div class="widget-stat-info">
                <div class="widget-stat-title">Today's Notifications</div>
                <div class="widget-stat-number">@Html.DisplayFor(model => model.NotificationsSentToday)</div>
                <div class="widget-stat-text">(Messages Sent Today)</div>
            </div>
        </div>
        <!-- end widget -->
    </div>
    <!-- end col-3 -->
    <!-- begin col-3 -->
    <div class="col-lg-3 col-sm-6">
        <!-- begin widget -->
        <div class="widget widget-stat bg-grey text-white">
            <div class="widget-stat-icon"><i class="fa fa-comments"></i></div>
            <div class="widget-stat-info">
                <div class="widget-stat-title">Notifications</div>
                <div class="widget-stat-number">@Html.DisplayFor(model => model.NotificationsSentLast30)</div>
                <div class="widget-stat-text">(Messages Sent the Last 30 Days)</div>
            </div>
        </div>
        <!-- end widget -->
    </div>
    <!-- end col-3 -->
</div>
<!-- end row -->
<!-- begin row -->
<div class="row">
    <!-- begin col-6 -->
    <div class="col-lg-6">
        <!-- begin panel -->
        <div class="widget">
            <div class="widget-header bg-inverse-dark">

                @*<ul class="widget-header-btn">
                        <li><a href="#" class="btn btn-white">1 Jan 2019 - 31 Jan 2019 <i class="fa fa-cog"></i></a></li>
                    </ul>*@

                <h4 class="text-white">Notifications<small> (Per Month)</small></h4>
            </div>
            <div id="bar-chart" style="height: 230px"></div>
        </div>

        <!-- end panel -->
    </div>
    <!-- end col-6 -->
    <!-- begin col-6 -->
    <div class="col-lg-6">
        <!-- begin widget -->
        <div class="widget">
            <div class="widget-header bg-inverse-dark">
                <h4 class="text-white">Clients<small> (Most Recent)</small></h4>
            </div>
            <div class="widget-body p-0">

                <table id="client-data-table" class="table  table-striped  table-hover  cell-border compact" cellspacing="0" style="width:100%;"></table>
            </div>
        </div>
        <!-- end widget -->
    </div>
    <!-- end col-4 -->
</div>
<!-- end row -->
<!-- Modal -->
<div class="modal fade" id="MessageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                <h4>@TempData["UpdateMessage"]</h4>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/plugins/jquery/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/pwstrength.js"></script>
@if (TempData["UpdateMessage"] != null)
{
    <script>
        $(function () {

            $("#MessageModal").modal('show');

        });
    </script>
}

<!--[if lt IE 9]>
    <script src="~/Content/crossbrowserjs/html5shiv.js"></script>
    <script src="~/Content/crossbrowserjs/respond.min.js"></script>
<![endif]-->
<script src="~/Content/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="~/Content/plugins/jquery-cookie/jquery.cookie.js"></script>
<!-- ================== END BASE JS ================== -->
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="~/Content/plugins/sparkline/jquery.sparkline.min.js"></script>
<script src="~/Content/plugins/jquery-jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="~/Content/plugins/jquery-jvectormap/jquery-jvectormap-world-merc-en.js"></script>
<script src="~/Content/plugins/gritter/js/jquery.gritter.js"></script>
<script src="~/Content/plugins/morris/raphael.min.js"></script>
<script src="~/Content/plugins/morris/morris.js"></script>
<script src="~/Content/js/page-chart-morris.demo.js"></script>
<script src="~/Content/plugins/DataTables/media/js/jquery.dataTables.js"></script>
<script src="~/Content/plugins/DataTables/media/js/dataTables.bootstrap.min.js"></script>
<script src="~/Content/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
<script>
    $(document).ready(function () {
          var assetListVM;
        $(function () {
             assetListVM = {
                dt: null,

                init: function () {
                    dt = $('#client-data-table').DataTable(
                        {
                            "lengthMenu": [[10, 20, -1], [10, 20, "All"]],
                            responsive: true, buttons: false,
                            searching: false,
                            info: false,
                    scrollX: true,
                    scrollCollapse: true,
                    fixedColumns: {
                        leftColumns: 2
                    },

                    "serverSide": true,
                    "ajax": {
                        "type": "POST",
                        "url": '/Home/GetClients',
                        "contentType": 'application/json; charset=utf-8',
                        'data': function (data) {
                            data = JSON.stringify(data);
                            return data;
                        }
                    },
                    "fnServerParams": function (aoData) {

                        aoData['organizationID'] = @ViewBag.organizationID;

                            },
                           "paging": false,
                    "processing": true,
                    "deferRender": true,
                    "columns": [

                        { "title": "First Name", "data": "FirstName", "searchable": true,   "render": function (data, type, row, meta) {
                            return '<a href="@Url.Action("ClientDetails", "Home")?id=' + row.ClientId + '"class="details">'+ data +'</a>';
                                }},

                        {
                            "title": "Last Name", "data": "LastName", "searchable": true, "render": function (data, type, row, meta) {
                                return '<a href="@Url.Action("ClientDetails", "Home")?id=' + row.ClientId + '"class="details">' + data + '</a>';
                                } },
                        { "title": "Client Status", "data": "ClientStatus", "searchable": true, },
                        { "title": "Phone Status", "data": "PhoneStatus", "searchable": true, },
                       
                    ],
                    "order": [0, "Asc"],
                    });
                },

                refresh: function () {
                    dt.ajax.reload();
                }
            }
            assetListVM.init();
        });
        var data = JSON.parse('@Html.Raw(ViewBag.BarData)');

            Morris.Bar({
                element: 'bar-chart',
                data: data,
                xkey: ['ReportingMonth'],
                ykeys: ['Notifications'],
                labels: ['Notifications'],
                hideHover: 'auto',
                barRatio: 0.4,
                xLabelAngle: 35,
                resize: true,
                gridTextFamily: "'Nunito', sans-serif",
                gridTextWeight: '300',
                gridTextSize: 11,
                gridTextColor: '#30373e',
                barColors: [inverse]
            });
        });
</script>