@model NotifyHealth.Models.Notifications
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (@Session["Portal"] != null)
{


<title>@Session["Portal"].ToString() |  Notifications Details</title>
}

<h1 class="page-header">Notifications Details</h1>
<div class="section-container section-with-top-border">
</div>
<button type="button" class="btn btn-success btn-md" onclick="location.href='@Url.Action("Notifications", "Home")'" id="btnNotifications">
    <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Return
</button>

<p class="m-b-20">
</p>

<dl class="m-b-20">
    <div class="well well-sm">
        <dt>
            @Html.DisplayNameFor(model => model.Period)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Period)
        </dd>
    </div>
    <div class="well well-sm">
        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>
    </div>
    <div class="well well-sm">
        <dt>
            @Html.DisplayNameFor(model => model.NotificationType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotificationType)
        </dd>
    </div>
    <div class="well well-sm">
        <dt>
            @Html.DisplayNameFor(model => model.Campaign)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Campaign)
        </dd>
    </div>
    <div class="well well-sm">
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
    </div>
</dl>