@model NotifyHealth.Models.Programs
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="page-header">Program Details</h1>
<div class="section-container section-with-top-border">
    <p class="m-b-20">

    </p>

</div>

<dl class="m-b-20">
    <div class="well well-sm">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </div>
    <div class="well well-sm">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </div>
    <div class="well well-sm">
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
    </div>
    <div class="well well-sm">
        <dt>
            @Html.DisplayNameFor(model => model.RelatedCampaigns)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RelatedCampaigns)
        </dd>
    </div>
</dl>

